.navbar {
    padding: 0px 150px;
    height: 80px;
    text-align: center;
}

.navbar li{
    display: flex;
    align-items: center;
    height: 80px;
    border-top: solid white 4px;
    font-weight: 500;
    padding: 0px 15px;
}

.navbar li a{
    color: black;
}

.navbar li:hover{
    border-top: solid black 4px;
}

.home{
    background-color: #82D2C5;
    height: 100%;
    position: relative;
    margin-top: 80px;
}
#hero-email-input{
    padding: 15px;
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
    color: #D3D3D3;
    font-weight: 400;
}

#hero-email-button{
    border: none;
}

.input-group-append{
    background: #28A48F;
    border-radius: 0px 5px 5px 0px;
}
.content{
    padding: 70px 0px;
}

.slogan-font {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 44px;
}

.email-line{
    color: black; 
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
}

.conatainer-card{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.left-cards{
    border-radius: 15px 15px 0px 15px;
    width: 15rem;
}

.hero-card{
    position: relative;
    z-index: 1;
}

.right-cards{
    border-radius: 15px 15px 15px 0px;
    width: 15rem;
}
.phone-image{
    width: 327px;
    height: 640px;
    margin-bottom: -59px;
}

.feature-icons{
    padding: 80px 100px;
    background-color: #DCF5F1;
}
.icon-group{
    text-align: center;
}
.icon-name{
    margin: 20px 0px;
}

.features-slider{
    margin-top: 100px;
    margin-bottom: 100px;
}

.accordion-item{
    border: none;
    color: black;
    width: 34rem;
    background-color: #E5FBF7;
    margin-top: 15px;
    border: none;
}
.accordion-item:hover{
    background-color: #9FDED4;
    color: black;
}
.card-icon{
    margin-right: 10px;
    top: 22;
}
.accordion-button {
    border: none;
    outline: none;
    background: none !important;
    box-shadow: none !important;
    padding: 1.5rem 1rem;
}
.accordion-button:hover{
    color: #000000;
}
.accordion-button::after {
    display: none;
}
.accordion-body{
    margin-left: 40px;
}
.security-section {
    background-color: #E5FBF7;
    padding: 50px 0;
    text-align: center;
}
.security-icon {
    margin-bottom: 10px;
    color: #2CA58D;
}
.securitys-icon{
    margin-bottom: 56px;
}
.sec-header{
    color: black;
    font-size: 3rem;
    margin-bottom: 80px;
}

.habittracker-image{
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.addone-section {
    align-items: center;
    padding: 50px 0;
}
.addon-slogan{
    width: 50%;
}

.philosophy-section {
    background-color: #e6f7f7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
  .hexagon {
    display: inline-block;
    width: 13rem;
    height: 13rem;
    background-color: #E8E6E6;
    border-radius: 20px;
    margin: 20px;
    clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hexagon p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
  }

  .additional-feature-header{
    font-size: 3rem;
    margin-bottom: 80px;
  }
  .additional-features-section {
    text-align: center;
    padding: 50px 0;
  }
  .additional-feature-icon {
    font-size: 2.5rem;
    color: #20c997;
  }
  .additional-feature-title {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  .additional-feature-description {
    text-align: left;
    color: #666;
    margin-bottom: 50px;
  }

  .customer-first-section {
    background-color: #e6f7f7;
    text-align: center;
    padding: 50px 0;
  }
  .feature-icon {
    font-size: 2.5rem;
    color: #20c997;
  }
  .feature-title {
    font-size: 1.2rem;
    color: #333;
  }
  .feature-description {
    color: #666;
  }

  .Customer-header{
    font-size: 3rem;
    color: black;
    margin-bottom: 50px;
  }

  .pricing-table {
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}
.Pricing-header{
    font-size: 3rem;
    color: black;
}
.pricing-table th, .pricing-table td {
    border-color: #20c997;
    text-align: center;
    vertical-align: middle;
    background: #E5FBF7;
}
.pricing-table th{
    font-size: 18px !important;
    padding: 15px;
}
.pricing table .table-footer td{
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid #20c997;
}
.pricing-table th, td{
    border-top: 1px solid #20c997;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.pricing-table tr {
    border: none;
}
.feature-check, .feature-cross {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    color: gray;
}
.feature-check {
    background-color: #28A48F;
}

.table tbody tr td {
    width: 10rem;
    background: #E5FBF7;
}

.contact-section{
    background: #E5FBF7;
}
.contact-form {
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
}
.contact-form h1 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.contact-form p {
    margin-bottom: 30px;
    color: #666666;
}
.form-control{
    outline: none;
    box-shadow: none !important;
    padding: 15px;
}
.form-control:hover{
    background: none;
    transition: calc(1s);
}

.contact-form .form-control {
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-form button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}
.Submit-button{
    background: #28A48F;
}

.sbm-btn:hover{
    background-color: #000000;
    transition: calc(1s);
}
.footer {
    background-color: #4E5464;
    color: white;
    padding: 20px 0;
}
.footer .footer-links {
    font-size: 20px;
}
.footer .footer-links a {
    color: white;
    margin: 0 10px;
    padding: 10px;
    text-decoration: none;
}
.footer .social-icons a {
    color: white;
    font-size: 24px;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #22252D;
    text-align: center;
}
.footer .social-icons a:hover {
    transform: scale(1.2);
    transform-origin: 100% -30%;
    background: #22252D;
}
.footer .social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 35px;
}