.navbar {
    padding: 0px 150px;
    height: 80px;
    text-align: center;
}

.navbar li{
    display: flex;
    align-items: center;
    height: 80px;
    border-top: solid white 4px;
    font-weight: 500;
    padding: 0px 15px;
}

.navbar li a{
    color: black;
}

.navbar li:hover{
    border-top: solid black 4px;
}

.home{
    background-color: #82D2C5;
    height: 100%;
    position: relative;
    margin-top: 80px;
    border: 1px solid red;
}
#hero-email-input{
    padding: 15px;
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
    color: #D3D3D3;
    font-weight: 400;
}

#hero-email-button{
    border: none;
}

.input-group-append{
    background: #28A48F;
    border-radius: 0px 5px 5px 0px;
}
.content{
    padding: 70px 0px;
}

.slogan-font {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 44px;
}

.email-line{
    color: black; 
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
}

.conatainer-card{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.left-cards{
    border-radius: 15px 15px 0px 15px;
    width: 15rem;
}

.hero-card{
    position: relative;
    z-index: 1;
}

.right-cards{
    border-radius: 15px 15px 15px 0px;
    width: 15rem;
}
.phone-image{
    width: 327px;
    height: 640px;
    margin-bottom: -59px;
}

.feature-icons{
    padding: 80px 100px;
    background-color: #DCF5F1;
}
.icon-group{
    text-align: center;
}
.icon-name{
    margin: 20px 0px;
}

.features-slider{
    margin-top: 100px;
    margin-bottom: 100px;
}

.accordion-item{
    border: none;
    color: black;
    width: 34rem;
    background-color: #E5FBF7;
    margin-top: 15px;
    border: none;
}
.card-icon{
    margin-right: 10px;
    top: 22;
}
.accordion-button {
    border: none;
    outline: none;
    background: none !important;
    box-shadow: none !important;
    padding: 1.5rem 1rem;
}
.accordion-button::after {
    display: none;
}
.security-section {
    background-color: #E5FBF7;
    padding: 50px 0;
    text-align: center;
}
.security-icon {
    margin-bottom: 10px;
    color: #2CA58D;
}
.securitys-icon{
    margin-bottom: 56px;
}
.sec-header{
    color: black;
    font-size: 3rem;
    margin-bottom: 80px;
}

.habittracker-image{
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.addone-section {
    align-items: center;
    padding: 50px 0;
}
.addon-slogan{
    width: 50%;
}

.philosophy-section {
    background-color: #e6f7f7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
  .hexagon {
    display: inline-block;
    width: 13rem;
    height: 13rem;
    background-color: #E8E6E6;
    border-radius: 20px;
    margin: 20px;
    clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hexagon p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
  }

  .additional-feature-header{
    font-size: 3rem;
    margin-bottom: 80px;
  }
  .additional-features-section {
    text-align: center;
    padding: 50px 0;
  }
  .additional-feature-icon {
    font-size: 2.5rem;
    color: #20c997;
  }
  .additional-feature-title {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  .additional-feature-description {
    text-align: left;
    color: #666;
    margin-bottom: 50px;
  }

  .customer-first-section {
    background-color: #e6f7f7;
    text-align: center;
    padding: 50px 0;
  }
  .feature-icon {
    font-size: 2.5rem;
    color: #20c997;
  }
  .feature-title {
    font-size: 1.2rem;
    color: #333;
  }
  .feature-description {
    color: #666;
  }

.contact{
    background-color: #E5FBF7;
}

.footer{
    background-color: #4E5464;
    min-height: 50vh;
    color: white;
}